*{
    margin: 0;
}

body {
    width: 100%;
    height: 100%;
}

ul {
    padding: 0px!important;
}

.menu-principal {
    background-color: #6381B3;
    height: 60px;
}

main, .content {
    position: relative;
    margin: 0 auto;
    width: 980px;
}

.logo img{
    margin-top: 12px;
    width: 92px;
    height: 34,89px;
}

.logo {
    float: left;
    width: 80%;
}

.redessociais ul li {
    margin-top: 17px;
    margin-left: 15px;
    display: inline;
    float: right;
    list-style: none;
}
.redessociais {
    width: 20%;
    float: right;
}

.redessociais img {
    width: 25px;
    height: 25px;
}

.menu-abas {
    background-color: #ffffff;
    width: 77%;
    margin: 0 auto;
    padding: 34px;
}

.menu-urls {
    border-bottom: 3px solid #efefef;
    height: 84px;
}

.menu ul li {
    display: inline;
    color: #6381B3;
    margin-left: 34px;
    height: 100%;
    padding: 31px 0;
}

.menu ul li:hover {
    border-bottom: 2px solid #99B774;
}

.menu ul li a:hover {
    color: #99B774;
}

.menu ul li a{
    font-family: Arial;
    color: #6381B3;
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
}

.menu {
    width: 70%;
    float: left;
}

.busca {
    text-align: center;
    width: 23%;
    float: right;
}

.busca input {
    background-image: url("../img/searchicon.svg");
    background-repeat: no-repeat;
    background-position: 95%;
    background-size: 16px;
    width: 190px;
    height: 30px;
    border: 1px solid #6381B3;
    padding: 10px;
    margin-top: -5px;

}

.col-100 {
    width: 100%;
    float: left;
    position: relative;
}

::placeholder { 
    color: #6381B3;
    opacity: 50%;
}

button.slick-prev {
    font-size: 0px;
    border: none;
    width: 18px;
    height: 32px;
    z-index: 9;
    background-color: transparent;
    background-image: url('../img/arrow-previous.png');
    position: absolute;
    top: 37%;
    left: 15%;
}

button.slick-next {
    font-size: 0px;
    border: none;
    width: 18px;
    height: 32px;
    z-index: 9;
    background-color: transparent;
    background-image: url('../img/arrow-next.png');
    position: absolute;
    top: 37%;
    right: 15%;
}

.slick-dots li button { /* isso é a personalização do botao*/
    font-size: 0px;
    border: 4px solid #ffffff;
    border-radius: 50%;
    width: 15px;
    height: 20px;
    background: transparent;
    cursor: pointer;
}

li.slick-active button {
    background: #6381B3;
}

.slick-dots li { /* isso é a personalização dos botoes*/
    display: inline-block;
    margin-left: 10px;
}

.slick-dots { /* isso é a personalização da localização dos botoes?*/
    margin: 0 alto;
    width: 50%;
    position: absolute;
    left: 46%;
    top: 90%;
}

.slick-initialized {
    overflow: hidden;
}

.texto-destaque {
    text-align: center;
}

.texto-destaque h1 {
    font-family: 'Arial';
    color: #6381B3;
    text-decoration: none;
    font-size: 30px;
    text-transform: uppercase;
    margin-top: 50px;
    margin-bottom: 50px;
}

.col-3 {
    width: 30%;
    float: left;
    padding-left: 1%;
    padding-right: 1%;
    position: relative;
}

.col-3 img {
    width: 150px;
    height: 150px;
}

.col-3 h3 {
    font-family: 'Arial';
    color: #51565F;
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
    margin-top: 15px;
    margin-bottom: 15px;
}

.col-3 p {
    font-family: 'Arial';
    color: #51565F;
    font-size: 14px;
}
