*{
    margin: 0;
}

body {
    width: 100%;
    height: 100%;
}

ul {
    padding: 0px!important;
}

.menu-principal {
    background-color: #6381B3;
    height: 60px;
}

main {
    position: relative;
    margin: 0 auto;
    width: 980px;
}

.logo img{
    margin-top: 12px;
    width: 92px;
    height: 34,89px;
}

.logo {
    float: left;
    width: 80%;
}

.redessociais ul li {
    margin-top: 17px;
    margin-left: 15px;
    display: inline;
    float: left;
    list-style: none;
}
.redessociais {
    width: 20%;
    float: right;
}

.redessociais img {
    width: 25px;
    height: 25px;
}

.menu-abas {
    background-color: #ffffff;
    width: 980px;
    margin: 0 auto;
    padding: 34px;
}

.menu-urls {
    border-bottom: 3px solid #efefef;
    height: 84px;
}

.menu ul li {
    display: inline;
    color: #6381B3;
    margin-left: 34px;
    height: 50px;
}

.menu ul li:hover {
    border-bottom: 1px solid #F5E987;
}

.menu ul li a:hover {
    color: #F5E987;
    
}

.menu ul li a{
    color: #6381B3;
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
}

.menu {
    width: 70%;
    float: left;
}

.busca {
    text-align: center;
    width: 30%;
    float: right;
}

.busca input {
    background-image: url("../img/searchicon.svg");
    background-repeat: no-repeat;
    background-position: 95%;
    background-size: 16px;
    width: 190px;
    height: 30px;
    border: 1px solid #6381B3;
    padding: 10px;

}

.col-100 {
    width: 100%;
    float: left;
    position: relative;
}