*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Times New Roman', serif;
    text-align: center;
}

nav{
    background-color: black;
}

nav ul{
    text-align: center;
}

nav ul li{
    display: inline-block;
    line-height: 60px;
}
nav ul li a{
    padding: 0 20px;
    font-family: Arial;
    color: white;
}


article{
    background-color: rgb(240, 240, 240);
    border-radius: 25px;
    width: 50vw;
    height: 75vh;
    padding-bottom: 100px;
}

article header h1{

}