*{margin: 0;}

/* HEADER INÍCIO*/
.header-1{
    background-color: black;
    height: 372px;
}

.sub-header{
    margin: 0 auto;
    width: 900px;
}

.img-logo{
    float: left;
    width: 70%;
}

.img-logo img{
    margin-top: 12px;
}

.img-socialmedia{
    float: left;
    width: 30%;
}

.img-socialmedia ul li{
   margin-top: 12px;
   margin-bottom: 9px;
   margin-left: 12px;
   display: inline;
   float: right;
   list-style: none;
}

.header-2 img{
    width: 100%;
    height: 100%;
}
/* HEADER FIM*/

.nav-background{
    width: 900px;
    height: 50px;
    background-color: black;
    border-radius: 0px 0px 20px 20px;
    margin: 0 auto;
    position: relative;
}

.sub-nav{
    
}

.tabs ul li{
    margin-top: 12px;
    margin-left: 12px;
    display: inline;
}

.tabs ul li a{
    text-align: center;
}