*{margin: 0;}

/* HEADER E IMG INÍCIO*/
.header-bar{
    background-color: black;
    height: 50px;
}

.header-size{
    margin: 0 auto;
    width: 900px;
}

.img-logo{
    float: left;
    width: 70%;
}

.img-logo img{
    margin-top: 12px;
}

.img-socialmedia{
    float: left;
    width: 30%;
}

.img-socialmedia ul li{
   margin-top: 12px;
   margin-bottom: 9px;
   margin-left: 12px;
   display: inline;
   float: right;
   list-style: none;
}

.header-img img{
    width: 100%; 
}
/* HEADER E IMG FIM */
/* NAV INÍCIO */
.nav-background{
    width: 900px;
    height: 50px;
    background-color: black;
    border-radius: 0px 0px 20px 20px;
    margin: -4px auto;
    
}
.nav-background ul{
    padding-top: 13px;
}

.nav-background ul li{
    margin-left: 130px;
    display: inline;
    text-align: center;
}

.nav-background ul li a{
    
    padding: 12px 0;
    font-family: 'Noto Sans Regular';
    font-style: italic;
    color: white;
    text-decoration: none;
}

.nav-background ul li a:hover{
    font-family: 'Noto Sans Medium';
}
/* NAV FIM */

.section-mother{
    width: 900px;
    margin: 30px auto;
    
}

.content{
    width: 63%;
    height: 1300px;
    float: left;
    background-color: rgb(250, 250, 250);
    border-radius: 20px 20px 20px 20px;
}

/* ARTICLE-01 INÍCIO */
.type1-article h1{
    text-align: left;
    font-size: 30px;
    font-family: 'Noto Sans';
    font-style: Bold;
    color: black;
    text-decoration: none;
    padding: 20px 10px 5px 20px;
}

.type1-article h2{
    text-align: left;
    font-size: 15px;
    font-family: 'Noto Sans Regular';
    color: rgb(50, 50, 50);
    text-decoration: none;
    padding: 5px 10px 10px 20px;
}

.type1-article img{
    width: 92.5%;
    height: 92.5%;
    border-radius: 20px;
    margin: 10px 20px 10px 20px;
}

.type1-article h3{
    text-align: left;
    font-size: 15px;
    font-family: 'Noto Sans Regular';
    color: rgb(30, 30, 30);
    text-decoration: none;
    padding: 0 10px 0 20px;
}

.type1-article p{
    text-align: left;
    font-size: 14px;
    font-family: 'Noto Sans Regular';
    color: rgb(50, 50, 50);
    text-decoration: none;
    padding: 10px 10px 20px 20px;
}

/* ARTICLE-01 FIM */

/* ASIDE INÍCIO */
.profile{
    width: 33%;
    height: 930px;
    float: right;
    background-color: rgb(250, 250, 250);
    border-radius: 20px 20px 20px 20px;

}

.profile img{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    margin: 20px 50px 10px 50px;
}

.profile h2{
    text-align: center;
    font-family: 'Noto Sans Regular';
    font-style: italic;
    color: black;
    text-decoration: none;
    padding: 10px 0 10px;
}

.profile p{
    text-align: center;
    font-family: 'Noto Sans Regular';
    font-style: italic;
    color: rgb(50, 50, 50);
    text-decoration: none;
    padding: 15px 15px 15px 15px;
}
/* ASIDE FIM */