$gray_scale1: #F0F0F0;
$gray_scale2: #E7E7E7;
$gray_scale3: #DCDCDC;
$primary-color1: #121212;
$primary-color2: #ffffff;

@mixin fontstyle($fontcolor){
    font-family: Mulish;
    font-size: 12pt;
    text-decoration: none;
    color: $fontcolor;
}

@mixin flexcenter() {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


