*{margin: 0;}

/* HEADER E IMG INÍCIO*/
header{
    background-color: #121212;
    height: 50px;
}

.header-alighsize{
    margin: 0 auto;
    width: 900px;
}

.img-logo{
    float: left;
    width: 70%;
}

.img-logo img{
    margin-top: 12px;
}

.img-socialmedia{
    float: left;
    width: 30%;
}

.img-socialmedia ul li{
   margin-top: 12px;
   margin-bottom: 9px;
   margin-left: 12px;
   display: inline;
   float: right;
   list-style: none;
}

.header-img img{
    width: 100%; 
}
/* HEADER E IMG FIM */
/* NAV INÍCIO */
.nav-background{
    width: 900px;
    height: 50px;
    background-color: #121212;
    border-radius: 0px 0px 20px 20px;
    margin: -4px auto;
    
}
.nav-background ul{
    padding-top: 13px;
}

.nav-background ul li{
    margin-left: 130px;
    display: inline;
    text-align: center;
}

.nav-background ul li a{
    
    padding: 12px 0;
    font-family: 'Noto Sans Regular';
    font-style: italic;
    color: white;
    text-decoration: none;
}

.nav-background ul li a:hover{
    font-family: 'Noto Sans Medium';
}
/* NAV FIM */

.section-mother{
    width: 900px;
    margin: 30px auto;
    
}

.content{
    width: 63%;
    height: 1440px;
    float: left;
    background-color: rgb(250, 250, 250);
    border-radius: 20px 20px 20px 20px;
}

/* ARTICLE-01 INÍCIO */
.type1-article h1{
    text-align: left;
    font-size: 30px;
    font-family: 'Noto Sans';
    font-style: Bold;
    color: #121212;
    text-decoration: none;
    padding: 20px 10px 5px 20px;
}

.type1-article h2{
    text-align: left;
    font-size: 15px;
    font-family: 'Noto Sans Regular';
    color: rgb(50, 50, 50);
    text-decoration: none;
    padding: 5px 10px 10px 20px;
}

svg{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
}

.type1-article img{
    width: 92.5%;
    height: 92.5%;
    border-radius: 20px;
    margin: 10px 20px 10px 20px;
}

.type1-article h3{
    text-align: left;
    font-size: 15px;
    font-family: 'Noto Sans Regular';
    color: rgb(30, 30, 30);
    text-decoration: none;
    padding: 0 10px 0 20px;
}

.type1-article p{
    text-align: left;
    font-size: 14px;
    font-family: 'Noto Sans Regular';
    color: rgb(50, 50, 50);
    text-decoration: none;
    padding: 10px 10px 20px 20px;
}

/* ARTICLE-01 FIM */

/* ARTICLE-01 INÍCIO */

.type2-article{
    width: 600px;
    height: 10%;
}

.text{
    width: 53%;
    position: relative;
    top: -195px;
    left: 220px;
    z-index: 10;
  
}

figure img{
    width: 30%;
    height: 30%;
    border-radius: 20px;
    margin: 10px 20px 10px 20px;
}
.text h6{
    text-align: left;
    font-size: 8pt;
    font-family: 'Noto Sans Thin';
    color: rgb(50, 50, 50);
    text-decoration: none;
}
.text h1{
    text-align: left;
    font-size: 14pt;
    font-family: 'Noto Sans';
    font-style: Bold;
    color: #121212;
    text-decoration: none;  
}
.text p{
    text-align: left;
    font-size: 11pt;
    font-family: 'Noto Sans';
    font-style: bold;
    color: rgb(30, 30, 30);
    text-decoration: none;  
}

/* ARTICLE-02 FIM */



/* ASIDE INÍCIO */
.profile{
    width: 33%;
    height: 930px;
    float: right;
    background-color: rgb(250, 250, 250);
    border-radius: 20px 20px 20px 20px;

}

.profile img{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    margin: 20px 50px 10px 50px;
}

.profile h2{
    text-align: center;
    font-family: 'Noto Sans Regular';
    font-style: italic;
    color: #121212;
    text-decoration: none;
    padding: 10px 0 10px;
}

.profile p{
    text-align: center;
    font-family: 'Noto Sans Regular';
    font-style: italic;
    color: rgb(50, 50, 50);
    text-decoration: none;
    padding: 15px 15px 15px 15px;
}
/* ASIDE FIM */
/* FOOTER INÍCIO */
footer{
    background-color: #121212;
    height: 50px;
    margin-top: 1500px;
}

.footer-alighsize{
    margin: 0 auto;
    width: 900px;
}

.all-rights{
    width: 70%;
    float: right;
}

.all-rights h6{
    text-align: right;
    font-family: 'Noto Sans Thin';
    font-style: italic;
    text-decoration: none;
    color: white;
    padding: 15px 15px 15px 15px;
}

.img-socialmedia-footer{
    float: left;
    width: 30%;
}

.img-socialmedia-footer ul li{
   margin-top: 12px;
   margin-bottom: 9px;
   margin-right: 12px;
   display: inline;
   float: left;
   list-style: none;
}

/* FOOTER FIM */