@import 'responsive', 'reset', 'variables';

@mixin flexcenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin text-settings {
    text-decoration: none;
    font-family: Mulish;
    font-size: 12pt;
}


.main-nav{
    background-color: $gray_scale1;
    position: fixed;
    width: 100%;
    padding: 0 50px;
    @include text-settings();

    ul{
        list-style: none;
        display: flex;  
    }
    li{
        width: 100%;
        text-align: center;
        &hover .submenu1{
            display: block;
        }
    }
    a{
        color: #121212;
        height: 80px;
        width: 150px;
        @include flexcenter();
        @include text-settings;
        &hover{
            background-color: $gray_scale2;
        }
    }
}
.submenu1{
    @include flexcenter();
    position: relative;
    width: 100%;
    background-color: $gray_scale1;

    li{
        display: none;
        &hover .submenu2{
            display: block;
    position: relative;
        }
    }
}
.submenu2{
    @include flexcenter();
    width: 100%;
    background-color: $gray_scale1;
    li{
        display: none;
        position: absolute;
    }
    label{
        width: 130px;
        margin: 10px 10px 5px 10px;
        display: flex;
        justify-content: left;
        color: #121212;
        font-family: Mulish;
        font-size: 12pt;
    }
    input{
        width: 130px;
        height: 30px;
        color: $primary-color2;
        background-color: #121212;
        outline: none;
        border: 0;
        margin: 0px 10px 5px 10px;
    }
    #submit{
        width: 80px;
        margin: 5px 10px 10px 10px;
        cursor: pointer;
        color: $primary-color2;
        text-align: center;
        display: flex;
        justify-content: center;

        font-family: Mulish;
        font-size: 12pt;
    }
}

label[for="btn-menu"]{
    height: 80px;
    width: 100%;
    padding: 5px;
    background-color: $gray_scale1;
    display: none;
    
}
#btn-menu{
    display: none;
    
}